<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<h1>
    Create new user:
</h1>

<form th:method="POST" th:action="@{/admin/users/new}" th:object="${user}">
    <br>
    <label for="name"> Enter user name:</label>
    <input type="text" th:field="*{name}" id="name"/><br/>
    <br>
    <label for="pass"> Enter user password:</label>
    <input type="text" th:field="*{password}" id="pass"/><br/>
    <br>
    <label for="he"> High Education</label>
    <input type="checkbox" th:field="*{highEdu}" id="he"/><br/>
    <br>
    <label> Roles:</label>
            <th:block th:each="role : ${listRoles}">
                <input type="checkbox" th:field="${userRolesIds.rolesIds}" th:text="${role.role}" th:value="${role.id}"/>
            </th:block><br/>

    <br>
    <label for="dob"> Enter Date of Birth:</label>
    <input type="date" th:field="*{dateOfBirth}" id="dob"/><br/>
    <br>
    <input type="submit" value="Create"><br/>
</form>

</body>
</html>