<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--    <script type="text/javascript" src="../static/main.js" th:src="@{/static/main.js}"></script>-->
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto" style="align-items: baseline">
                <div class="navbar-brand flex-grow-1 ">
                    <h4 class="mb-1" th:text="${userinfo}" style="color: #f1f1f1"></h4>
                </div>
                <span class="navbar-brand flex-grow-1 align-baseline">
                    <p style="color: #f1f1f1" class="fst-italic mb-1">with roles:</p>
                </span>
                <span class="navbar-brand flex-grow-1 align-baseline">
                    <h5 class="mb-2" style="color: #f1f1f1" th:text="${userRoles}"></h5>
                </span>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <form method="get" action="/logout">
                        <button class="btn btn-dark" type="submit" style="color: red">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div class="list-group" id="list-tab" role="tablist">

                <a class="list-group-item list-group-item-action active"  id="list-profile-list"
                   data-bs-toggle="list"
                   href="#list-profile" role="tab" aria-controls="list-profile">User</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-10" style="background: #f1f1f1">

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h2>User information-page</h2>
                    <table class="table table-striped table-hover">
                        <h5 class="mt-3">About user</h5>
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">BirthDate</th>
                            <th scope="col">LifeTime</th>
                            <th scope="col">High Education</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${users}">
                            <div th:if="${u.getName() == userinfo}">
                            <td th:text="${u.getId()}"></td>
                            <td th:text="${u.getName()}"></td>
                            <td th:text="${u.getDateOfBirth()}"></td>
                            <td th:text="${u.getLifeTimeDays()}"></td>
                            <td th:text="${u.getHighEdu()}"></td>
                            <td th:text="${u.getRoles()}"></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- New modal window -->


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="../static/main.js" th:src="@{/static/main.js}"></script>-->
<!--<script src="js/jquery-3.6.0.min.js"></script>-->

<!-- Option 2: Separate Popper and Bootstrap JS -->

<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->

</body>
</html>

